.main{
    border: 3px solid black;
    height: 500px;
    margin-top: 100px;
    background: black;
}


.face{
    background: chartreuse;
    height: 150px;
    width: 150px;
    border-radius: 50% 50% 0 0;
    margin: auto;
    margin-top: 20px;
}
.main:hover .face{
    transform: translate(30px, 0px);
    animation: moveface 1s 0.1s infinite;
}

@keyframes moveface{
    0%{
        transform: translate(30px, 0px);
    }
    25%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-30px, 0px);
    }
    75%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(30px, 0px);
    }
}
.eyes{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}


.lefteye,.righteye{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
}
.main:hover .lefteye{
    animation: eyemove 1s 0.1s infinite;
}
@keyframes eyemove{
    0%{transform: scale(1);}
    25%{transform: scale(0.3);}
    50%{transform: scale(1.2);}
    75%{transform: scale(0.3);}
    100%{transform: scale(1);}
}
.main:hover .righteye{
    animation: eyemove1 1s 0.1s infinite;
}
@keyframes eyemove1{
    0%{transform: scale(1);}
    25%{transform: scale(0.3);}
    50%{transform: scale(1.2);}
    75%{transform: scale(0.3);}
    100%{transform: scale(1);}
}
.body1{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin: auto;
    margin-top: 10px;
}
.main:hover .body1 .center{
    border-radius: 50px;
    transform: rotate(360deg);
    animation: centermove 1s 0.1s infinite;
}
@keyframes centermove 
{
  0%{
    transform: rotate(0deg);
  }  
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(360deg);
  }
  75%
  {
    transform: rotate(540deg);
  }
  100%{
    transform: rotate(720eg);
  }
}


.leftarm{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
    margin-top: 10px;
}
.main:hover .leftarm{
    transform-origin: top center;
    transform: rotate(100deg);
    animation: moveleftarm 1s 0.1s infinite;
}

@keyframes moveleftarm{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}


.center{
    height: 150px;
    width: 150px;
    background: chartreuse;
    border-radius: 0 0 40% 40%;
}


.rightarm{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
    margin-top: 10px;
}
.main:hover .rightarm{
    transform-origin: top center;
    transform: rotate(-100deg);
    animation: moverarm 1s 0.1s infinite;
}

@keyframes moverarm{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.legs{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    margin: auto;
    margin-top: -20px;  
}


.leftleg{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
}
.main:hover .leftleg{
    transform-origin: top center;
    transform: rotate(-100deg);
    animation: moveleftleg 1s 0.1s infinite;
}

@keyframes moveleftleg{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.rightleg{
    height: 75px;
    width: 25px;
    background: chartreuse;
    border-radius: 50px;
}
.main:hover .rightleg{
    transform-origin: top center;
    transform: rotate(-100deg);
    animation: moverightleg 1s 0.1s infinite;
}

@keyframes moverightleg{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}
.main:hover{
    animation: colorchange 1s 0.1s infinite;
}
@keyframes colorchange {
    0%{
        background: black;
    }
    25%{
        background: gray;
    }
    50%{
        background: white;
    }
    75%{
        background: gray;
    }
    100%{
          background: black;
    }
    
}